#app { 
    width: 100%;
    height: 100vh;
    /*background-color: #666;*/
    margin-right: -15px; 
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}
.tx-6  { font-size: 6px!important; }
.tx-8  { font-size: 8px!important; }
.tx-10 { font-size: 10px!important; }
.tx-12 { font-size: 12px!important; }
.tx-13 { font-size: 13px!important; }
.tx-14 { font-size: 14px!important; }
.tx-16 { font-size: 16px!important; }
.tx-18 { font-size: 18px!important; }
.tx-20 { font-size: 20px!important; }
.tx-24 { font-size: 24px!important; }
.tx-28 { font-size: 28px!important; }
.tx-30 { font-size: 30px!important; }
.tx-32 { font-size: 32px!important; }